<a href="#summaries/{{weekNumber}}">Week {{weekNumber}} Summary</a>
| <a href="#summaries/{{weekNumber}}/edit">Edit</a>
| <a href="#summaries/{{weekNumber}}/delete" class="delete-summary" data-id="{{weekNumber}}">Delete</a>